.container {
    position: absolute;
    width: 100%;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;

    .modal {
        z-index: 11;
        max-width: 400px;
        width: 100%;
        height: max-content;
        background-color: var(--gray);
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.101);
        gap: 30px;

        h3 {
            font-weight: 500;
            color: var(--black);
        }
        .language_list {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 100%;

            .item {
                padding: 10px;
                text-align: center;
                color: var(--black);
                border: 0.5px solid lightgray;
                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;
                transition: all 0.5s ease-in-out;
                -webkit-transition: all 0.5s ease-in-out;
                -moz-transition: all 0.5s ease-in-out;
                -ms-transition: all 0.5s ease-in-out;
                -o-transition: all 0.5s ease-in-out;
                background-color: white;
                cursor: pointer;

                &:hover {
                    background-color: var(--black);
                    color: white;
                }
            }

            .active {
                background-color: var(--black);
                color: white;
            }
        }
    }
}
