:root {
    --hover: #e0115f;
    --gray: #f5f5f5;
    --box-shadow: 0px 0px 10px 0px rgba(112, 112, 112, 0.2);
    --black: rgb(32, 33, 36);
}

[data-theme='light'] {
    --bg: white;
    --text: rgb(32, 33, 36);
    --search-input-border: none;
    --bg-light: white;
    --category-loading-animation: #f1f0f0;
    --search-input-bg: #f5f5f5;
    --product-text: rgb(32, 33, 36);

    --product-info-item: #f6f6f6;
    --product-info-title: rgb(32, 33, 36);
}

[data-theme='dark'] {
    --bg: rgb(32, 33, 36);
    --text: rgb(150, 150, 153);
    --search-input-border: 0.5px solid rgb(150, 150, 153);
    --search-input-bg: transparent;
    --bg-light: #303133;
    --category-loading-animation: #303133;
    --text-light: #cccccd;
    --product-text: white;
    --product-info-item: #1d1d1d;
    --product-info-title: #cccccd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html {
    background-color: var(--bg);
    overscroll-behavior-y: none;
    overflow-y: auto;
}

#main {
    background-color: var(--bg);
    min-width: 325px;
}
