.container {
    display: flex;
    flex-direction: column;
    padding: 25px 0px;
    gap: 30px;

    .double_container {
        display: flex;
        gap: 50px;

        .info_section {
            width: 100%;
            box-shadow: var(--box-shadow);
            height: 400px;

            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
            padding: 12px;
        }
    }

    @media (max-width: 1024px) {
        .double_container {
            flex-direction: column;
        }
    }
}
