.container {
    display: flex;
    flex-direction: column;
    padding: 25px 0px;

    .double_container {
        display: flex;
        gap: 50px;
        margin-bottom: 50px;
    }

    @media (max-width: 1024px) {
        .double_container {
            flex-direction: column;
        }
    }
}
